body {
}

h1 {
    text-align:center;
}

.Img-container {
    position: relative;
    text-align: center;
    color: black;
}

.Top-Img {
    opacity:0.5;
    width:40%;
    height:250px;
}

.Img-Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
